.categories {
    border: 1px solid #ededed;
}

.headerContainer {
    padding: 1rem 1.6rem;
    background: #fafafa;
}

.title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.list {
    padding: 1rem 1.6rem;
}

.listItem {
    font-size: 1.2rem;
    border-bottom: 1px solid #ededed;
    padding: 0.8rem 0;
}

.listItem:last-child {
    border: none;
    padding: 0.8rem 0 0;
}